data-admin {
    list-table th {
        cursor: pointer;
    }

    td.manage-tools-cell {
        width: 90px;
    }

    .object-metadata {
        font-size: smaller;

        a {
            cursor: pointer;
        }
    }

    paginate-widget {
        float: left;
        padding-right: 40px;
    }

    .per-page-form {
        float: left;
        padding-top: 0;
        @media (min-width: 768px) {
            padding-top: 20px;
        }
    }

    .progress {
        width: 250px;
        position: absolute;
        right: 45%;
        top: 50%;
    }

    .progress > div {
        width: 100%;
    }

    filter-widget {
        background: #fff;
        display: block;
    }

    dropdown-menu.filter-dropdown .dropdown-content {
        width: auto;
    }
    
    @media screen and (min-width: 980px) {
        .filter-widget {
            width: 550px;
            display: block;
        }
    }
    /* fix display of filter-widget */
    .display-tools {
        overflow: visible;
    }

    .checkbox-cell label.form-checkbox {
        padding: 1rem;
    }

    .quick-filter-icon {
        width: 20px;
    }
}
