<div class="heading">
	<h1>{{makeTitle}}</h1>

	<div class="chip-sm">
		<span class="chip-name">
			{{type}}
		</span>
	</div>
	<div class="chip-sm">
		<span class="chip-name">
			<code>{{{makeTypesString types}}}</code>
		</span>
	</div>
	{{#if plugin}}<span class="module">{{plugin}}</span>{{/if}}
	{{#if release}}<span class="release">{{release}}</span>{{/if}}
</div>

<div class="sub-heading">
	{{#if title}}
		{{^if plugin}}
		<cite>{{name}}</cite>
	{{/if}}
	{{/if}}
	<span class="inherits">{{#if inherits}}inherits: <a href="{{urlTo inherits}}">{{inherits}}</a>{{else}}&nbsp;{{/if}}</span>
</div>
{{#if links.length}}
<ul class="links">
	{{#links}}
		<li><a href="{{href}}">{{title}}</a></li>
	{{/links}}
	{{#ifValidSource src}}
		<li><a href="{{urlSource src type line}}">source</a></li>
	{{/ifValidSource}}
	{{#if download}}
		<li><a href="{{urlDownload .}}">download</a></li>
	{{/if}}
	{{#if test}}
		<li><a href="{{urlTest .}}">tests</a></li>
	{{/if}}
</ul>
{{/if}}
<br />
